@import "compass_twitter_bootstrap";

//a { text-decoration: none; border-bottom:1px dotted; }

/* Sortable tables */
table thead {
    background-color:#333;
    color:#666;
    cursor: default;

    th {
      color: white;
    }
}

#previous {
  // position: absolute;
  // left: 15px;
}
#next {
  // position: absolute;
  // left: 30px;
}

.clear {
  clear: both;
  h3 {
    display: inline-block;
  }
}

.background {
    pointer-events: all;
}

#caption {
  position: absolute;
  right: 0px;
}

.inline {
  display: inline-block;
}

#about {
  float: right;
  margin-right: 0px;
}

.labels {
  float: left;
  display: inline-block;
}

#logo {
   background-image: url('/images/csg.png');
   float: right;
   height: 100px;
   width: 213px;
   // position: absolute;
   // left: 980px;
   // right: 360px;
}

#caption_right {
  float: right;
  display: inline-block;
  margin-right: 0px;
}

#vis_container {
    position: relative;
    clear: both;
}

#map {
  fill: white;
}

.container {
  width: 1100px !important;
  border-right: 1px solid darkgray;
  border-left: 1px solid darkgray;
}

.vis {
  margin-bottom: 10px;
  margin: 0 5px;
}

#counties {
    fill: lightgray;
    stroke: darkgray;
    stroke-width: 0.1px;
}

#states {
    fill: none;
    stroke: gray;
    stroke-width: 0.2px;
}

#counties path:hover {
    fill: steelblue;
}

#charts {
  float: left;
  width: 540px;
  margin-left: 20px;
}

.chart {
  float: left;
  display: inline-block;
  height: 151px;
  margin-bottom: 10px;
}

.reset {
  padding-left: 1em;
  font-size: smaller;
  color: #ccc;
}

.background.bar {
  fill: #ccc;
}

.foreground.bar {
  fill: steelblue;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.brush rect.extent {
  fill: steelblue;
  fill-opacity: .125;
}

.brush .resize path {
  fill: #eee;
  stroke: #666;
}

#flight-list {
  min-height: 1024px;
}

#flight-list .flight {
  line-height: 1.5em;
  // background: #eee;
  width: 1100px; //640px;
  margin-bottom: 1px;
}

#flight-list .flight div {
  display: inline-block;
  width: 110px;
}

#totals {
  font-size: smaller;
  width: 170px;
  height: 20px;
  float: right;
}

#top_schools_heading{
  font-size: smaller;
  // width: 200px;
  height: 20px;
  float: left;
}

table {
  width: 100%;
  th {
    text-align: left;
  }
}